head {
    background-color: #FFE;
    font-family: fantasy;
}

  h1 {
    color: #ffffee;
    text-align: center;
    font-family: fantasy;

  }

  h2 {
    color: #ffffee;
    text-align: center;
    font-family: fantasy;

  }

